{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}

{% block title %}
MAHI
{% endblock %}

{% block content %}
<div class="container content">
	<h1>Makan Apa Hari Ini?</h1>
    <h5>Let me know you!</h5>
	<div class="row body">
        <div class="form">
            <form action="/main/calculate" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <!-- Item -->
                    {% for i in foods %}
                    <div class="col-sm-4 item" id="item{{i.id}}" style="display: none;">
                        <img  class="food" id="food-1" src="{{i.gambar}}">
                        <div class="label">
                            <h6>{{i.nama}}</h6>
                            <label>Rate this menu</label>
                        </div>
                        <div class="rating-{{i.id}}">
                                <input type="radio" id="{{i.id}}star5" name="rating-{{i.id}}" value="5" /><label for="{{i.id}}star5" title="Love It">5</label>
                                <input type="radio" id="{{i.id}}star4" name="rating-{{i.id}}" value="4" /><label for="{{i.id}}star4" title="Good">4</label>
                                <input type="radio" id="{{i.id}}star3" name="rating-{{i.id}}" value="3" /><label for="{{i.id}}star3" title="Not bad">3</label>
                                <input type="radio" id="{{i.id}}star2" name="rating-{{i.id}}" value="2" /><label for="{{i.id}}star2" title="Bad">2</label>
                                <input type="radio" id="{{i.id}}star1" name="rating-{{i.id}}" value="1" /><label for="{{i.id}}star1" title="Wont eat anymore">1</label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-sm-4 item">
                        <img  class="food" id="food-1" src="https://images.unsplash.com/photo-1521913626209-0fbf68f4c4b1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1c43084e2e9f1498f54ffec81aabb086&w=1000&q=80">
                        <div class="label">
                            <h6 style="font-style: italic;">M A H I M A H I M A H I M A</h6>
                        </div>
                    </div>
                </div>
                <div class="form-group-row submit">
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                </div>
            </form>

        </div>
    </div>
    <div class="row foot">
        
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
