{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/result.css' %}" type="text/css">
{% endblock %}

{% block title %}
MAHI
{% endblock %}

{% block content %}
<div class="container content">
	<div class="row">
		<div class="col-xs-3 col-md-3 col-lg-3 titres">
			<div class="back">
				<a href="/main"><b><p>B A C k . .</p></b></a>
			</div>
			<h1>
				People <food>Like You</food> Also Eat . . .
			</h1>
		</div>
		<div class="col-xs-7 col-md-7 col-lg-7 res">
				{% for i in foods %}
					{% if i.id in hello %}
						<div class="row item">
							<div class="col-xs-5 col-md-5 col-lg-5 pic">
								<img src="{{i.gambar}}">
							</div>
							<div class="col-xs-7 col-md-7 col-lg-7 desc">
								<h5>{{i.nama}}</h5>
								<hr>
								<p>
									Pedagang: {{i.nama_penjual}} <br>
									Harga: {{i.range_harga}} <br>
									Material: {{i.material}}
								</p>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		</div>
		<div class="col-xs-2 col-md-2 col-lg-2 feedback">
			<h2>
				<b>ありがとうございました</b> <br>
				<b>. . . </b>
			</h2>
		</div>
	</div>
</div>
<!-- <div class="container content">
	<div class="row">
		<h1>Assalamualaikum, Akhi!</h1>
	</div>
	<div class="row">
		<div class="col-xs-3 icon">
			<i class="fa fa-location-arrow"></i>
		</div>
		<div class="col-xs-9">
			<h5>Your Location: </h5>
		</div>
	</div>
		<h6>Here's local food you might like:</h6>
	</div>
	<div class="d-flex flex-wrap">
		<div class="p-2">
			<box>
				<div class="row">
					<img src="https://i1.wp.com/www.bisamasak.com/wp-content/uploads/2018/08/soto-betawi.jpg?fit=957%2C659&ssl=1" style="width: 200px">
				</div>
				<div class="row">
					Soto Bet4wi
				</div>
			</box>
		</div>
	</div>
</div> -->
{% endblock %}

{% block script %}
<!-- <script src="{% static 'js/registration.js' %}"></script> -->
{% endblock %}
