

.head {
  position: absolute;
  right: 0;
  /*left: 0;*/
  padding-left: 10px;
  height: auto;
  /*background-color: white;*/
}

.head .kelompok p {
  font-weight: bolder;
  font-size: 11px;
  margin: 0;
  padding-right: 25px;
  padding-top: 8px;
}