body {	
	background: yellow;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

h1 {
	font-weight: bolder;
	font-size:45px;
}


.body {
	margin-bottom: 100px;
}

.form {
	margin: auto;
	width: 80%;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
	margin-top:20px;
}

.label h6 {
	font-weight: bolder;
	text-align: left;
	margin-bottom: 0;
	margin-top: 5px;
}

.label label {
	text-align: right;
	font-size: 12px;
	font-weight: bolder;
}

/*.custom-select {
	background-color: transparent;
	border-top: 0; 
	border-left: 0;
	border-right: 0;
	border-bottom-color: rgba(242,255,0,1);
}*/

.rating-1, .rating-2, .rating-3, .rating-4, .rating-5, .rating-6, .rating-7, .rating-8, .rating-9, .rating-10 {
      float:left;
    }

    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
      follow these rules. Every browser that supports :checked also supports :not(), so
      it doesn’t make the test unnecessarily selective */
    .rating-1:not(:checked) > input,
    .rating-2:not(:checked) > input,
    .rating-3:not(:checked) > input,
    .rating-4:not(:checked) > input,
    .rating-5:not(:checked) > input,
    .rating-6:not(:checked) > input,
    .rating-7:not(:checked) > input,
    .rating-8:not(:checked) > input,
    .rating-9:not(:checked) > input,
    .rating-10:not(:checked) > input{
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }

    .rating-1:not(:checked) > label,
    .rating-2:not(:checked) > label,
    .rating-3:not(:checked) > label,
    .rating-4:not(:checked) > label,
    .rating-5:not(:checked) > label,
    .rating-6:not(:checked) > label,
    .rating-7:not(:checked) > label,
    .rating-8:not(:checked) > label,
    .rating-9:not(:checked) > label,
    .rating-10:not(:checked) > label {
        float:right;
        width:1em;
        /* padding:0 .1em; */
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:150%;
        line-height:0.7; 
        color:#ddd;
    }

    .rating-1:not(:checked) > label:before,
    .rating-2:not(:checked) > label:before,
    .rating-3:not(:checked) > label:before,
    .rating-4:not(:checked) > label:before,
    .rating-5:not(:checked) > label:before,
    .rating-6:not(:checked) > label:before,
    .rating-7:not(:checked) > label:before,
    .rating-8:not(:checked) > label:before,
    .rating-9:not(:checked) > label:before,
    .rating-10:not(:checked) > label:before{
        content: '★ ';
    }

    .rating-1 > input:checked ~ label,
    .rating-2 > input:checked ~ label,
    .rating-3 > input:checked ~ label,
    .rating-4 > input:checked ~ label,
    .rating-5 > input:checked ~ label,
    .rating-6 > input:checked ~ label,
    .rating-7 > input:checked ~ label,
    .rating-8 > input:checked ~ label,
    .rating-9 > input:checked ~ label,
    .rating-10 > input:checked ~ label{
        color: yellow;
        
    }

    .rating-1:not(:checked) > label:hover,
    .rating-1:not(:checked) > label:hover ~ label,
    .rating-2:not(:checked) > label:hover,
    .rating-2:not(:checked) > label:hover ~ label,
    .rating-3:not(:checked) > label:hover,
    .rating-3:not(:checked) > label:hover ~ label,
    .rating-4:not(:checked) > label:hover,
    .rating-4:not(:checked) > label:hover ~ label,
    .rating-5:not(:checked) > label:hover,
    .rating-5:not(:checked) > label:hover ~ label,
    .rating-6:not(:checked) > label:hover,
    .rating-6:not(:checked) > label:hover ~ label,
    .rating-7:not(:checked) > label:hover,
    .rating-7:not(:checked) > label:hover ~ label,
    .rating-8:not(:checked) > label:hover,
    .rating-8:not(:checked) > label:hover ~ label,
    .rating-9:not(:checked) > label:hover,
    .rating-9:not(:checked) > label:hover ~ label,
    .rating-10:not(:checked) > label:hover,
    .rating-10:not(:checked) > label:hover ~ label
    {
        color: yellow;
        
    }

    .rating-1 > input:checked + label:hover,
    .rating-1 > input:checked + label:hover ~ label,
    .rating-1 > input:checked ~ label:hover,
    .rating-1 > input:checked ~ label:hover ~ label,
    .rating-1 > label:hover ~ input:checked ~ label,
    .rating-2 > input:checked + label:hover,
    .rating-2 > input:checked + label:hover ~ label,
    .rating-2 > input:checked ~ label:hover,
    .rating-2 > input:checked ~ label:hover ~ label,
    .rating-2 > label:hover ~ input:checked ~ label,
    .rating-3 > input:checked + label:hover,
    .rating-3 > input:checked + label:hover ~ label,
    .rating-3 > input:checked ~ label:hover,
    .rating-3 > input:checked ~ label:hover ~ label,
    .rating-3 > label:hover ~ input:checked ~ label,
    .rating-4 > input:checked + label:hover,
    .rating-4 > input:checked + label:hover ~ label,
    .rating-4 > input:checked ~ label:hover,
    .rating-4 > input:checked ~ label:hover ~ label,
    .rating-4 > label:hover ~ input:checked ~ label,
    .rating-5 > input:checked + label:hover,
    .rating-5 > input:checked + label:hover ~ label,
    .rating-5 > input:checked ~ label:hover,
    .rating-5 > input:checked ~ label:hover ~ label,
    .rating-5 > label:hover ~ input:checked ~ label,
    .rating-6 > input:checked + label:hover,
    .rating-6 > input:checked + label:hover ~ label,
    .rating-6 > input:checked ~ label:hover,
    .rating-6 > input:checked ~ label:hover ~ label,
    .rating-6 > label:hover ~ input:checked ~ label,
    .rating-7 > input:checked + label:hover,
    .rating-7 > input:checked + label:hover ~ label,
    .rating-7 > input:checked ~ label:hover,
    .rating-7 > input:checked ~ label:hover ~ label,
    .rating-7 > label:hover ~ input:checked ~ label,
    .rating-8 > input:checked + label:hover,
    .rating-8 > input:checked + label:hover ~ label,
    .rating-8 > input:checked ~ label:hover,
    .rating-8 > input:checked ~ label:hover ~ label,
    .rating-8 > label:hover ~ input:checked ~ label,
    .rating-9 > input:checked + label:hover,
    .rating-9 > input:checked + label:hover ~ label,
    .rating-9 > input:checked ~ label:hover,
    .rating-9 > input:checked ~ label:hover ~ label,
    .rating-9 > label:hover ~ input:checked ~ label,
    .rating-10 > input:checked + label:hover,
    .rating-10 > input:checked + label:hover ~ label,
    .rating-10 > input:checked ~ label:hover,
    .rating-10 > input:checked ~ label:hover ~ label,
    .rating-10 > label:hover ~ input:checked ~ label{
        color: yellow;
        
    }

    .rating-1 > label:active,
    .rating-2 > label:active,
    .rating-3 > label:active,
    .rating-4 > label:active,
    .rating-5 > label:active,
    .rating-6 > label:active,
    .rating-7 > label:active,
    .rating-8 > label:active,
    .rating-9 > label:active,
    .rating-10 > label:active{
        position:relative;
        top:2px;
        left:2px;
    }

.item {
	margin-bottom: 20px;
}

.item input {
	visibility: hidden;
}

.food {
	width: 100%;
    border-radius: 20px;
    border-right: 3px solid yellow;
    border-bottom: 3px solid yellow;
}

.submit {
	background-color: yellow;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	margin: 0px;
}

