.content .titres {
	/*position: fixed;*/
	margin-top: 20px;
}
.content .titres h1 {
	font-size: 60px;
	text-align: right;
}

.content .titres food {
	color: yellow;
	text-shadow: 
		5px 1px 0 #000;
}

.content .titres .back {
	background-color: yellow;
	margin-bottom: 0;
}
.content .titres .back a {
	color: black;
}
.content .titres .back p {
	text-align: right;
	margin-bottom: 0;
}

.content .res .item {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 8px;
	border: 1px solid lightgray;
	border-radius: 20px;
}

.content .res .item .pic {
	padding: 0;
}

.content .res .item img {
	border-radius: 30px;
	height: 150px;
	border-right: 5px solid yellow;
	border-bottom: 5px solid yellow;
}

.content .res .item .desc  {
	padding-top: 15px;
	padding-left: 30px;
}

.content .res .item .desc h5 {
	font-weight: bolder
}

.content .res .item .desc hr {
	border: 1px solid lightgray;
	margin: 0;
	width: 50%;
}

.content .res .item .desc p {
	color: black;
	font-size: 14px;
}

.content .feedback {
	/*padding-left: 0px;*/
	margin-top: 20px;
	padding-top: 20px;
	padding: 20px;
	background-color: yellow;
	border-radius: 20px;
}

.content .feedback h6 {
	text-align: center;
}