.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  height: auto;
  /*background-color: white;*/
}

.footer .kelompok p {
  font-weight: bolder;
  font-size: 11px;
  margin: 0;
  padding-left: 15px;
  padding-bottom: 8px;
}
/*
.footer .logo {
  border-right: 2px solid black;
  width: 30%;
}

.footer .logo p {
  color: black;
  margin: 0;
  font-size: 11px;
}

.footer .linked {
  color: black;
  width: 20%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.footer .linked p {
  font-size: 11px;
  margin: 0;
}*/