{% load staticfiles %}
{% load static %}
<footer class = "my-footer" >
   <!-- TODO Block Footer dan include footer.html -->
   <div class="footer">
   		<!-- <div class="col-xs-3 logo">
   			<h6><b>Makan Apa Hari Ini</b></h6>
   			<p>Built by Kumis Tipis</p>
            <p>Sistem Cerdas Gasal 2018/2019</p>
   		</div>
         <div class="col-xs-3 linked">
            <h6>Ezza Ardiala</h6>
            <p>Leader</p>
         </div>
         <div class="col-xs-3 linked">
            <h6>Muhammad At Thoriq</h6>
            <p>Remah-remah</p>
         </div>
         <div class="col-xs-3 linked">
            <h6>Sukma Firdaus</h6>
            <p>Remah-remah</p>
         </div> -->
         <div class="kelompok">
            <p>Sistem Cerdas &copy; KumisTipis</p>
         </div>
   </div>

</footer>