{% load staticfiles %}
{% load static %}
<!-- <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><b>MAHI!</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
    </ul>
  </div>
</nav> -->
<header>
<div class="head">
  <div class="kelompok">
    <p>MAHI?</p>
  </div>
</div>
</header>